<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <!-- CSS Styles -->
    <link rel="stylesheet" href="css/_general.css" />
    <link rel="stylesheet" href="css/login.css" />
    <title>Travel - Connexion</title>
  </head>
  <body>
    <main class="auth-section">
      <p class="back-link">
        <a href="/">
          <i class="fa-solid fa-arrow-left"></i>
          Retour
        </a>
      </p>
      <div class="auth-container">
        <div class="auth-header">
          <h3>Connexion</h3>
          <p>
            Connectez-vous pour accéder à votre compte et profiter de nos
            services.
          </p>
        </div>
        <form class="auth-form">
          <div class="input-container">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Entrez votre email"
              required
            />
          </div>
          <div class="input-container">
            <label for="password">Mot de Passe</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Entrez votre mot de passe"
              required
            />
          </div>
          <input type="submit" value="Se connecter" class="auth-btn" />
          <p class="signup-prompt">
            <a href="/forgot-password">Mot de passe oublié?</a>
          </p>
          <p class="signup-prompt">
            Pas encore inscrit? <a href="/register">Créer un compte</a>
          </p>
          
        </form>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("form").on("submit", function (e) {
          e.preventDefault();

          // Collect and convert form data into an object
          const formData = $(this).serializeArray();
          const entries = {};
          formData.forEach((field) => {
            entries[field.name] = field.value;
          });

          // Show loader
          Swal.fire({
            title: "Chargement...",
            text: "Veuillez patienter pendant que nous traitons votre demande.",
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading();
            },
          });

          $.ajax({
            url: "/auth/login",
            method: "POST",
            xhrFields: {
              withCredentials: true, // Include session cookie in the request
            },
            contentType: "application/json",
            data: JSON.stringify(entries),
            success: function (data) {
              if (data.error) {
                Swal.fire("Erreur!", data.error, "error");
              } else {
                window.location.href = data.redirect;
              }
            },
            error: function (xhr, status, error) {
              const errorMessage =
                xhr.responseJSON?.error ||
                "Une erreur est survenue. Veuillez réessayer.";
              Swal.fire("Erreur!", errorMessage, "error");
            },
          });
        });
      });
    </script>
  </body>
</html>
