/* Dashboard styles */
main {
  display: flex;
}

main > * {
  padding-top: 30px;
}

/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #444;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

aside .img-container {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

aside .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

aside .info-container {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  text-align: center;
}

.info-container .name {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.info-container .email {
  font-size: 18px;
  font-weight: 400;
  color: #cccccc;
}

.info-container .name,
.info-container .email {
  margin: 5px 0;
}

/* Dashboard Overview */
.dashboard-overview {
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-overview h2 {
  font-size: 32px;
  border-bottom: 2px solid #003b95;
  padding-bottom: 10px;
  color: #003b95;
}

/* Tabs */
.tabs {
  display: flex;
  margin: 10px 0;
}

.tab-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease;
}

.tab-button.active {
  background-color: #003b95;
  color: #fff;
  border-color: #003b95;
}

.tab-button.active:hover {
  background-color: rgba(0, 86, 179, 0.9);
} 

.tab-button:hover {
  background-color: #e0e0e0;
}

/* Tab Content */
.tab-content {
  display: none; /* Hide all tab contents by default */
}

.tab-content.active {
  display: block; /* Show only the active tab content */
}

/* Table Styles */
.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.results-table th {
  background-color: #003b95;
  color: #fff;
  font-weight: bold;
}

.results-table tr:nth-child(even) td{
  background-color: #f9f9f9;
}

.results-table tr:hover td{
  background-color: #f1f1f1;
}

.results-table td {
  color: #333;
  background-color: #ffffff;
}
