@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

/* General reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  color: #999999;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Ensure footer stays at the bottom */
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  color: #333333;
  background-color: #f5f5f5;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.6;
}

main {
  flex: 1;
}

/* Header styles */
header {
  color: #ffffff;
  background-color: #003b95;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 125px;
}

.navbar-logo,
.footer-logo {
  font-family: "Pacifico", cursive;
  font-size: 32px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links li a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navbar-links li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffb700;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.navbar-links li a:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}

.navbar-auth-buttons {
  display: flex;
}

.auth-btn {
  background-color: #ffffff;
  border: none;
  color: #003b95;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-register:hover,
.btn-signin:hover {
  background-color: #e0e0e0;
}

header details {
  position: relative;
}

header details summary {
  list-style: none;
  cursor: pointer;
}

header details summary i {
  font-size: 24px;
  color: #ffffff;
  transition: all ease 0.3s;
}

header details summary:hover i {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

header details ul {
  position: absolute;
  left: 50%;
  list-style: none;
  width: max-content;
  background-color: #ffffff;
  border-radius: 4px;
}

header details ul li {
  padding: 5px 15px;
  cursor: pointer;
}

header details ul li:hover {
  background-color: #f0f2fb;
}

header details ul li a {
  color: #333333;
}

/* Header section styles */
.header-banner {
  padding: 40px 130px;
}

.banner-content {
  margin-bottom: 48px;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 800;
}

.banner-content p {
  font-size: 24px;
  font-weight: 400;
  color: #dcdcdc;
}


.banner-content a {
  display: inline-block;
  color: #ffffff;
  margin-top: 20px;
  font-weight: bold;
}

.banner-content a span {
  transition: margin-left 0.3s;
}

.banner-content a:hover span {
  margin-left: 10px;
}


/* Search bar styles */

.search-form button,
.search-form input,
.search-form select {
  border: none;
  outline: none;
  background-color: unset;
}

.search-form .search-bar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  background-color: #fff;
  padding: 14px;
}

.search-bar .row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.row-1 .text-input {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #003b95;
  padding: 12px 16px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.row-1 .text-input svg {
  width: 25px;
  height: 25px;
  fill: #1b1b1b;
  border-left: 1px solid #333333;
  padding-left: 3px;
}

.row-1 .text-input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #ffffff;
}

.row-1 .text-input input::placeholder {
  color: #999999;
  font-size: 16px;
}

.row-2 .date-input {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #003b95;
  padding: 10px 13px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar .select-form {
  width: fit-content;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #003b95;
  padding: 10px 12px;
}

.search-bar .select-form select,
.search-bar .select-form option {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: unset;
}

.search-bar .row-3 {
  justify-content: flex-end;
}

.row-2 #search-button {
  background-color: #003b95;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #0c0c0c;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 125px;
}

.footer-content p {
  margin: 10px 0;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

