<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="icon"
    type="image/x-icon"
    href="img/favicon.png"
    />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/404.css">
  </head>
  <title>404 - Page Not Found</title>
  <body>
    <header>
      <nav class="navbar">
          <div class="navbar-logo">Travel</div>
          <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <% if (userIsLoggedIn) { %>
          <details>
            <summary>
              <i class="fas fa-user"></i>
            </summary>
            <ul>
              <li><a href="/dashboard">Profile</a></li>
              <li><a href="/logout">Signout</a></li>
            </ul>
          </details>
          <% } else { %>
          <div class="navbar-auth-buttons">
            <a href="/login" class="auth-btn" id="btn-login">Sign in</a>
            <a href="/register" class="auth-btn" id="btn-register">Register</a>
          </div>
          <% } %>
        </nav>
    </header>
    <main id="error_page">
      <div class="container">
        <h1>404</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
        <a href="/" class="back-to-home">Go back to Home</a>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="footer-logo">Travel</div>
        <p>&copy; 2023 Travel.com | All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
