<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="icon"
    type="image/x-icon"
    href="img/favicon.png"
    />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/404.css">
    <title>404 - Page non trouvée</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <main id="error_page">
      <div class="container">
        <h1>404</h1>
        <p>Désolé, la page que vous recherchez n'existe pas.</p>
        <a href="/" class="back-to-home">Retour à l'accueil</a>
      </div>
    </main>
    <%- include('footer.ejs') %>
  </body>
</html>
