<header>
  <nav class="navbar">
    <div class="navbar-logo">Voyage</div>
    <div class="navbar-toggle">
      <i class="fa-solid fa-bars"></i>
    </div>
    <ul class="navbar-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/about">À propos</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/booking">Reservation</a></li>
    </ul>
    <div class="navbar-auth-buttons">
      <form>
        <button type="submit" class="submit-btn">Déconnexion</button>
      </form>
    </div>
  </nav>
</header>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const toggleButton = document.querySelector(".navbar-toggle");
  const navbarLinks = document.querySelector(".navbar-links");
  const navbarAuthButtons = document.querySelector(".navbar-auth-buttons");

  toggleButton.addEventListener("click", () => {
    navbarLinks.classList.toggle("active");
    navbarAuthButtons.classList.toggle("active");
  });

  document.querySelector("form").addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const entries = Object.fromEntries(formData);
    fetch("/auth/logout", {
      method: "POST",
      credentials: "include",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(entries),
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.error) {
          Swal.fire("Erreur!", data.error, "error");
        } else {
          Swal.fire({
            title: "Succès!",
            text: data.message,
            icon: "success",
            timer: 1500,
          }).then(() => {
            window.location.href = data.redirect;
          });
        }
      });
  });
</script>
