<header>
  <nav class="navbar">
    <div class="navbar-logo">Travel</div>
    <ul class="navbar-links">
      <li><a href="/">Accueil</a></li>
      <li><a href="/about">À propos</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/dashboard">Réservé</a></li>
      <li><a href="/booking">Réservation</a></li>
    </ul>
    <div class="navbar-auth-buttons">
      <a href="/logout" class="auth-btn" id="btn-logout">Déconnexion</a>
    </div>
  </nav>
</header>
