<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="img/favicon.png"
      sizes="192x192"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/auth.css" />
    <title>Travel - Email verification</title>
  </head>
  <body>
    <%- include('_header_auth.ejs') %>
    <main>
      <section class="auth-section">
        <div class="auth-container">
          <div class="auth-header">
            <h3>Vérification de l'email</h3>
            <p>
              Veuillez entrer votre adresse email pour vérifier votre compte.
            </p>
          </div>
          <form class="auth-form">
            <div class="input-container">
              <label for="otp">OTP Code</label>
              <input type="text" name="otp" id="otp" required />
            </div>
            <input type="submit" value="Vérifier" />
          </form>
          <p>OTP expired? <a href="/verification">Resend OTP</a></p>
        </div>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData);
        console.log(entries);
        fetch("/users/verify_otp", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(entries),
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.error) {
              Swal.fire("Error!", data.error, "error");
            } else {
              Swal.fire("Success!", data.message, "success").then(() => {
                window.location.href = data.redirect;
              });
            }
          });
      });
    </script>
  </body>
</html>
